/* Header/Logo Title */
body {background-image: url("https://wallpapercave.com/wp/wp2863958.gif")}
html{
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5;
    background-color: #13293d;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://coverfiles.alphacoders.com/502/50210.jpg");
  }
  h1, header{
    display: flex;
    justify-content: space-between;
    min-width: 50px; 
    list-style-type: none;
    text-shadow: 2px 2px black;
  }

  a{
    color: yellow;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover{
        color: gray;
  }
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
    color: white;
  }
  section {
    display: block;
}
article {
  border-bottom: 1px solid white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#github {
    background-image: url(https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 981px;
    height: 180px;
  }
    
  .square {
    display: flex;
    background: url("https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2016Q4/8-steps-to-build-a-project-management-timeline@2x.png") 50% 50% no-repeat;
    width: 800px;
    height: 500px;
    list-style-type: none;
    
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  }
  
  .square:hover {
    opacity: 0.5;
  }
  .square a {
    display: block;
    width: 800px;
    height: 500px;
    text-align: center;
    
  }
  .squareSmall{
    display: block;
    background: url("https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2016Q4/8-steps-to-build-a-project-management-timeline@2x.png") 50% 50% no-repeat;
    width: 350px;
    height: 250px;
    list-style-type: none;
 
  
  }
  .squareSmall a{
    display: block;
    width: 300px;
    height: 300px;
    text-align: center;
    
    
  }
  
  .table{
  display: flex;
  flex-wrap: wrap;
  }